
.top-container{
	display: inline-block;
    width: 100%;
    background-color: moccasin;
    margin-top: 5%;
    min-width: 50%;
}

.inner-container-left{
	display: inline-block;
    width: 40%;
    float: left;
    margin: 1em;
}

.profile-image{
	border-style: ridge;
	border-radius: 2%;
	border-color: #ffe4b5;
}

.inner-container-right{
	display: inline-block;
    float: left;
    margin-top: 5%;
}

.name{
	text-align: center;
    font-family: cursive;
    font-weight: bolder;
    font-size: 77px;
    font-variant: small-caps;
}

.designation{
	text-align: center;
    font-family: cursive;
    font-weight: bolder;
    font-size: xx-large;
    font-variant: small-caps;
}

.bottom-container{
	height: 50%;
}

.details{
	display: inline-block;
	float: left;
	margin: 5%;
	width: 15%;
}

.image-details{
	margin: 3%;
}

.text-details{
    display: inline-block;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: x-large;
    font-style: inherit;
    margin: 10%;
}

.contact-body{
    background: url("https://www.concrete5.org/application/files/1414/5391/9632/homepage_develop_background.jpg");
    background-repeat: round;
    color: bisque;

}

.heading{
    font-size: -webkit-xxx-large;
    font-family: serif;
    font-variant: small-caps;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 6%;
}

.contact{
    margin-top: 8%;
}

.mail{

    font-family: sans-serif;
    font-size: xx-large;
    margin-bottom: 3%;
    text-align: center;


}

.phone{

    font-family: sans-serif;
    font-size: xx-large;
    margin-bottom: 3%;
    text-align: center;


}

.footer1{
    position: fixed;
    bottom: 0;
    left:0;

}

.footer2{
    position: fixed;
    bottom: 0;
    right: 0;
}