
.top-container{
	display: inline-block;
    width: 100%;
    background-color: moccasin;
    margin-top: 5%;
    min-width: 50%;
}

.inner-container-left{
	display: inline-block;
    width: 40%;
    float: left;
    margin: 1em;
}

.profile-image{
	border-style: ridge;
	border-radius: 2%;
	border-color: #ffe4b5;
}

.inner-container-right{
	display: inline-block;
    float: left;
    margin-top: 5%;
}

.name{
	text-align: center;
    font-family: cursive;
    font-weight: bolder;
    font-size: 77px;
    font-variant: small-caps;
}

.designation{
	text-align: center;
    font-family: cursive;
    font-weight: bolder;
    font-size: xx-large;
    font-variant: small-caps;
}

.bottom-container{
	height: 50%;
}

.details{
	display: inline-block;
	float: left;
	margin: 5%;
	width: 15%;
}

.image-details{
	margin: 3%;
}

.text-details{
display: inline-block;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: x-large;
    font-style: inherit;
    margin: 10%;
}